@{
    ViewData["Title"] = "Home Page";
}

<div class="card oidc_card">
    <div class="card-body">
        <div class="d-grid" style="margin:40px 0px;">
            <a class="btn btn-primary" href="@ViewBag.LoginUrl" role="button">登录</a>
        </div>
    </div>
</div>
