@{
    ViewData["Title"] = "Home Page";
}

<div class="d-grid oidc_card">
    <a class="btn btn-primary" href="@ViewBag.LoginUrl" role="button">登录</a>
</div>

@section Styles {
    <style type="text/css">
        .oidc_card {
            max-width: 480px;
            margin: 0 auto;
        }
    </style>
}
