@{
    ViewData["Title"] = "首页";
}

<div class="list-group oidc_card">
    <a href="/Home/Js" class="list-group-item list-group-item-action">Javascript示例</a>
    <a href="/home/Html" class="list-group-item list-group-item-action">HTML示例</a>
    <a href="/Home/Custom" class="list-group-item list-group-item-action">自定义示例</a>
</div>

@section Styles {
    <link rel="stylesheet" href="https://oidc.org.cn/app/oidc.css" />
}