@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="card">
        <div class="card-header">
            恭喜，授权成功！
        </div>
        <div class="card-body">
            @{
                var user = ViewBag.User;
                if (user != null)
                {
                    <img class="img-thumbnail mt-4" style="border-radius: 100%" width="120" height="120" src="@user.GetAvatarUrl()" alt="用户头像" />
                    <h4 class="mt-4">您好：@user.Name</h4>
                }
            }
        </div>
    </div>
</div>
@section Styles {
    <style>
        .card {
            max-width: 480px;
            margin: 0 auto;
        }
    </style>
}