@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<div class="list-group">
    <a href="#" class="list-group-item list-group-item-action">HTML示例</a>
    <a href="#" class="list-group-item list-group-item-action">Javascript示例</a>
    <a href="#" class="list-group-item list-group-item-action">自定义示例</a>
</div>
