@model ErrorViewModel
@{
    ViewData["Title"] = "异常";
}

<div class="container">
    <h1 class="text-danger">异常</h1>

    @if (Model.ShowRequestId)
    {
        <p>
            <strong>Request ID:</strong> <code>@Model.RequestId</code>
        </p>
    }

    <div style="text-align:left">
        <div class="code mt-2">@Model.Error</div>
    </div>
</div>
<style type="text/css">
    .code {
        background: #f5f5f5;
        display: block;
        text-align: left;
        padding: 10px;
        border-radius: 8px;
        line-height: 180%;
        white-space: pre;
        overflow: auto;
    }
</style>